main{
    background-color: aqua;
    text-align: center;

}
button{
    color: blue;
    padding: 10px;
    border: darkgreen;

}
body{
    background-color: cadetblue;
}
#dicee{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
}

#greeting{
    text-align: center;
    font: 100;
    color: darkgreen;
}
.heading{
    background-color: rgb(236, 0, 39);
    text-align: center;
    
}